.tReport body {
    margin: 0;
    padding: 0;

    background: white;
}
.topBar{
  display: flex;
  flex-flow: row;
  background-color: lightblue;

}
.topBar button{
  margin-left: 10%;
  float: left;
}

.topBar h2{
  margin-left: 30%;
  padding: 10%, 10%;
  text-align: center;
}


.muibutton{
  padding: 10%;
}

.report-view textarea{
  margin-top: 5%;
}
body{
  background-color: white;
}
